@import url(/Styling/Common/colors.css);

body{
    background-color: var(--black);
    padding: 0;
    margin: 0;
    font-family: roboto;
}

.backButton-input{
    display: none;
}

.backButton{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    filter: invert(100%);
}