@import url(/Styling/Common/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Solway:wght@300;400;500;700;800&display=swap');

*{
    font-family: 'Solway', 'Roboto', serif;
    
}


body{
    
    background-color: var(--black);
    padding: 0;
    margin: 0;
}



/*      back button START        */
.backButton-input{
    display: none;
}

.backButton{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    filter: invert(100%);
}
/*      back button END         */

