@import url(/Styling/Common/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Solway:wght@300;400;500;700;800&display=swap');

*{
    font-family: 'Solway', 'Roboto', serif;
    
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
   }
 html:focus-within {
    scroll-behavior: smooth;
}

body{
    
    background-color: var(--black);
    padding: 0;
    margin: 0;
}

/*          main title        END       */
.page-description-section{
    display: flex;
    align-items: center;
    align-self: flex-start;
    color: var(--white);

    margin-top: 10px;
}

.page-description-container{
    display: flex;
    flex-direction: column;
    
    margin: 10px 10px;
}
.page-description-container h3{
    margin-bottom: 5px;
    font-weight: 100;
}



.page-description-container p{
margin: 0px 0px 10px 0px;
}
/*          main title        END       */

/*      back button START        */
.backButton-input{
    display: none;
}

.backButton{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    filter: invert(100%);

    transition: transform.2s ease-out, scale .2s ease-out , width .2s ease-out;
}
.backButton:hover{
    transform: translateX(-20px) scale(1.2);

    
}
.backButton:hover ~ .page-description-container{
    margin-left: 20px;
    background-color: rgb(3, 91, 62);
}
/*      back button END         */

@media screen and (min-width: 600px) {
    .page-description-section{
        padding-left: 10vw;
    }
   
}

@media screen and (min-width: 1250px) {
    .page-description-section{
        padding-left: 16vw;
    }
}

