@import url(/Styling/Common/assembled.css);

/*      main title START        */
.explore-page-description-section{
    display: flex;
    align-items: center;
    align-self: flex-start;

    color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
} 

.explore-page-description-container{
    display: flex;
    flex-direction: column;

    margin: 0px 20px;

}
.explore-page-description-container h3{
    margin-bottom: 5px;
    font-weight: 100;
}

.explore-page-description-container h2{
    margin-top: 5px;
} 
/*      main title END          */



/*      back button START        */
.backButton-input{
    display: none;
}

.backButton{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    filter: invert(100%);
}
/*      back button END         */


/*      content START        */
.explore-page-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-page-content-grp{
    display: flex;
    flex-direction: column;

    text-decoration: none;

    width: 88vw;
    color: var(--black);
    background-color: var(--white);
    height: auto;
    position: relative;
    
    margin: 5px 0px 5px 0px;
    padding: 0px 15px 15px 15px;
    border-radius: 20px;
    
}
/*  title of a box */
.explore-page-content-heading{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.explore-page-content-heading-title{
    margin: 0;
}
/*   backgroung img of a box    */
.explore-page-content-grp::before{
    content: " ";
    
    background-image: url(/images/vecteezy_abstract-small-rounded-hexagon-line-geometric-overlapping_6836830.jpg);
    background-size: cover;

    background-position: 0px 0px;
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 10%;
    
    border-radius: 20px;
    
}

.right-chev{
    height: 20px;
    width: 20px;
    
}
.explore-page-content-copy{
    position: relative;
    margin: 0;
    margin-top: 5px;

}

/*             image styling             */
.explore-page-content-image{
    width: 100%;
    
    
    border-radius: 20px;
    margin: 20px 0px 5px 0px;
    position: relative;
    
    object-fit: contain;
}

hr{
    margin-block-start: 8px;
    margin-block-end: 8px;
    width: 20px;
}


.explore-page-contact-CTA{
    position: relative;
    text-decoration: none;
    align-self: center;

    color: var(--white);
    background-color: rgb(44, 44, 44);

    margin-top: 10px;
    padding: 10px 20px;

    border-radius: 20px;
}


/*      content END          */


/* toggle buttons. box drops down when clicked      START*/

.toggle-container{
    position: relative;
}
 .kids-section{
    display: none;
    transition: all 2s;
 }
.kids-section-toggle{
    position: relative;
    display: none;
}
.kids-section-toggle:checked ~ .kids-section{
    display: flex;
    flex-direction: column;
 }

 .kids-section-label{
    position: relative;
 }


 .teachers-section{
    display: none;
    align-items: center;
 }
.teachers-section-toggle{
    position: relative;
    display: none;
}
.teachers-section-toggle:checked ~ .teachers-section{
    display: flex;
    flex-direction: column;
 }
 .teachers-section-label{
    position: relative;
 }



 .researchers-section{
    display: none;
    align-items: center;
 }
.researchers-section-toggle{
    position: relative;
    display: none;
}
.researchers-section-toggle:checked ~ .researchers-section{
    display: flex;
    flex-direction: column;
 }
 .researchers-section-label{
    position: relative;
 }
/* toggle buttons. box drops down when clicked      END*/