@import url(/Styling/Common/assembled.css);

.page-description-section{
    position: sticky;
    z-index: 10;
    left: 0vw;
    top: 22vw;
    background-color: rgba(255, 208, 169, 0.884);
    background-size: contain; 
    /* background-image: url(/images/lab-512503_1920.jpg); */
    /* opacity: 80%; */
}


.heading-container{
    /* background-color: blue; */
    display: flex;
    position: relative;
    z-index: 20;
    align-items: center;
    margin-top: 20px;
    
}

.back-button-container{
    position: relative;
    z-index: 200;
    
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    gap: 1px;
    
}

.Content-GRP{
    background-color: var(--white);
    
    padding-top: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    
    

}

.content-images, .copy{
    max-width: 90vw;
}

.content-images{
    border-radius: 20px;
}

.location-info-box{
    padding-top: 10px;
  }

  .location-heading{
   
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
