@import url(/Styling/Common/assembled.css);


.page-description-section{
    position: sticky;
    z-index: 10;
    left: 0vw;
    top: 85px;
    background-color: rgba(255, 208, 169, 0.884);
    background-size: contain; 
    transition: padding 1s;

}


.heading-container{
    display: flex;
    position: relative;
    z-index: 20;
    align-items: center;
    color: var(--black);
    /* margin-top: 20px; */
    
}

.back-button-container{
    position: relative;
    z-index: 200; 
}

.backButton-input{
    display: none;
}

.backButton{

    filter: invert(0%);
}

/*              nav section             START */
.exibition-spaces-nav-container{
    display: none;
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: -20px;

    background-color: var(--white);
    width: 100%;
    gap: 20px;
    margin-top: 0px;
    padding-top: 52px;
    padding-bottom: 10px;
}
.exibition-spaces-nav-container::before{
    content: " ";
    background-image: url(/images/vecteezy_abstract-small-rounded-hexagon-line-geometric-overlapping_6836830.jpg);
    
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: 0px -145px;
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 10%;
    
    /* border-radius: 20px; */
    
}
.exibit-container-grpd{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80px;
}
.exibit-container-grpd p{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px;
    margin-top: 10px;
    font-size: .8rem;
    flex-wrap: wrap;
}
.exibit-container-grpd a{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    color: var(--black);
}


.exibit-buttons-grpd{
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    
    z-index: 10;
    height: 90px;
    width: 90px;
    /* background-color: rgb(71, 202, 202); */
    background-repeat: no-repeat;
    object-fit: cover;
}

.page-is-selected{
    transform: scale(1.25);
    font-weight: 500;
    width: 300px;
    max-width: 120px;
    /* background-color: aqua; */
}
.is-not-selected:hover{
    position: relative;
    z-index: 600;
    transform: scale(1.25);
    box-shadow: inset 0px 0px 25px 0px black;
}

/* nav section END */

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    gap: 1px;
    
}

.Content-GRP{
    background-color: var(--white);
    
    padding-top: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    
    

}

.content-images, .copy{
    max-width: 90vw;
}

.content-images{
    border-radius: 20px;
}

/* news section */
.news-main-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    background-color: var(--white);
    width: 95vw;
    height: auto;

    margin-top: 8px;
    border-radius: 20px;
}
.news-content-container{
    max-width: 90%;
}
.news-heading{
    align-self: flex-start;
    padding-left: 25px;
    margin-bottom: 0px;
}
.news-title{
    margin: 0px 0px;
    text-decoration: none;
    color: var(--black);
}
.news-title h4{
    margin-bottom: 0px;
}
.news-title:hover{
    text-decoration: underline;
}

.news-copy{
    margin-top: 4px;
}
/* news section end */



.location-info-box{
    padding-top: 10px;
  }

  .location-heading{
   
    margin-top: 3px;
    margin-bottom: 3px;
  }

.location-info-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    background-color: var(--white);
    width: 95vw;
    height: auto;

    margin-top: 8px;
    border-radius: 20px;
}
  
@media screen and (min-width: 600px) {
   .exibition-spaces-nav-container{
    display: flex;
   }
    .Content-GRP{
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        gap: 20px;
        min-width: 20px;
        width: 75vw;
        border-radius: 8px;
    }
    .content-images{
        width: 50vw;
        max-width: 550px;
    }
    .news-main-container{
        max-width: 680px;
    }
    .location-info-box{
        max-width: 650px;
    }
    .backButton{
        display: none;
    }
    .heading-container h2{
        margin-left: 10vw;
    }
    .exibit-container-grpd p{
        font-size: 1.2rem;
    }
    .heading-container h2{
        font-size: 1.8rem;
    }
    .page-description-section{
        position: relative;
        top: 0px;
        left: 0px;
    }
}

@media screen and (min-width: 1250px) {
    .Content-GRP{
        width: 943px;
    }
   
}