@import url(/Styling/Common/assembled.css);


.main{
    display: flex;
    justify-content: center;
}
.item1{
    height: 100px;
    width: 100px;
    background-image: url(/images/samuel-zeller-113381.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(71, 202, 202);
    background-position: 3px -20px;
    
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    border-radius: 15%;
    
}

.item1:hover{
    display: flex;
    justify-items: center;
    background-size: 120%;
    background-position: -7px -40px;
    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page-description-section{
    display: flex;
    align-items: center;
    
    color: var(--white);
}

.page-description-container{
    margin: 0px 20px;
}

.exibition-spaces-nav-container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
    padding-top: 20px;
}
.exibit-container-grpd{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80px;
    /* overflow: hidden; */
}

.exibit-buttons-grpd{
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    
    z-index: 10;
    height: 90px;
    width: 90px;
    background-color: rgb(71, 202, 202);
    background-repeat: no-repeat;
    /* background-size: cover; */

    
}
.exibit-buttons-grpd:hover{
    transform: scale(1.2);
    box-shadow: inset 0px 0px 25px 0px black;
    
}


.exibit-container-grpd p{
    display: flex;
    padding: 0px;
    margin-top: 10px;
    font-size: .8rem;
    flex-wrap: wrap;
}

.testImg{
    z-index: 10;
    height: 90px;
    width: 90px;
    background-color: rgb(71, 202, 202);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background-repeat: no-repeat;
    background-size: cover;
}



/* Exibit space background images and links start */

/* .biology-medicin-container{
    background-image: url(/images/samuel-zeller-113381.jpg);
    background-position: 3px -20px;
}
.cosmology-container{
    background-image: url(/images/andrew-ruiz-348421.jpg);
    
}
.evolution-containe{
    background-image: url(/images/william-bout-264826.jpg);
    background-position: -14px 0px;
}
.robot-ai-container{
    background-image: url(/images/samuel-zeller-158996.jpg);
    background-position: -3px -30px;
} */
.ecology-container{
    /* background-image: url(/images/aaron-blanco-tejedor-G9p6QyCQfCc-unsplash.jpg); */
    /* background-position: -2px -36px; */
}
/* Exibit space background images and links end */

.footer{
    height: 0rem;
}