@import url(/Styling/Common/assembled.css);




/*      back button START        */
.backButton-input{
    display: none;
}

.backButton{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    filter: invert(100%);
}
/*      back button END         */


/*      content START        */
.explore-page-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 10px;
}

.explore-page-content-grp{
    display: flex;
    flex-direction: column;

    text-decoration: none;

    width: 88vw;
    color: var(--black);
    background-color: var(--white);
    height: auto;
    position: relative;
    

    border-radius: 20px;

    
}








.explore-page-content-copy-container{
    display: flex;
    flex-direction: column;
}


/*  title of a box */
.explore-page-content-heading{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.explore-page-content-heading-title{
    margin: 0;
}


/*   backgroung img of a box    */
.explore-page-content-grp::before{
    content: " ";
    
    background-image: url(/images/vecteezy_abstract-small-rounded-hexagon-line-geometric-overlapping_6836830.jpg);
    background-size: cover;

    background-position: 0px 0px;
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 10%;
    
    border-radius: 20px;

}

.right-chev{
    height: 20px;
    width: 20px;
    
}

.explore-page-content-copy{
    position: relative;
    margin: 0;
    margin-top: 5px;

}



/*             image styling             */
.explore-page-content-image{
    width: 100%;
    
    
    border-radius: 20px;
    margin: 20px 0px 5px 0px;
    position: relative;
    
    object-fit: cover;
}

hr{
    margin-block-start: 8px;
    margin-block-end: 8px;
    width: 20px;
}


.explore-page-contact-CTA{
    position: relative;
    text-decoration: none;
    align-self: center;

    color: var(--white);
    background-color: var(--green-root);

    margin-top: 10px;
    padding: 10px 20px;

    border-radius: 20px;
}


/*      content END          */


/*          toggle buttons. box drops down when clicked      START*/

.toggle-label{
    cursor: pointer;
}

.toggle-container{
    position: relative;
    cursor: pointer;

    margin: 5px 5px 5px 5px;
    border-radius: 20px;
    padding: 0px 15px 15px 15px;

    transition: box-shadow .2s;
}
.toggle-container:hover {
    box-shadow:  0px 0px 10px 2px var(--black);
}
.section-toggle:checked ~ .kids-section,
.section-toggle:checked ~ .teachers-section,
.section-toggle:checked ~ .researchers-section{
    display: flex;
    align-items: flex-start;
    height: max-content;
    padding: 0px 15px 15px 15px;
 }

/*      for kids        */
.kids-section{
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    
    transition: height 0.5s ease-in;
    position: relative;
}
.section-toggle{
    display: none;

}
 .kids-section-label{
    position: relative;
 }


/*      for teachers         */
 .teachers-section{
    display: none;
    align-items: center;
    flex-direction: column;
 }
.teachers-section-toggle{
    position: relative;
    display: none;
}

 .teachers-section-label{
    position: relative;
 }


/*      for researchers      */
 .researchers-section{
    display: none;
    align-items: center;
    flex-direction: column;
 }
.researchers-section-toggle{
    position: relative;
    display: none;
}

 .researchers-section-label{
    position: relative;
 }
/* toggle buttons. box drops down when clicked      END*/


@media screen and (min-width: 600px) {
    .explore-page-content-grp{
        width: 79vw;
    }

    .section-toggle:checked ~ .kids-section,
    .section-toggle:checked ~ .teachers-section,
    .section-toggle:checked ~ .researchers-section{
        padding: 0px 30px 30px 30px;
    }
}

@media screen and (min-width: 1250px) {
    .kids-section, .teachers-section, .researchers-section{
        flex-direction: row-reverse;
    }
    .explore-page-content-image{
        width: 300px;
        height: 200px;
        margin-left: 40px;
    }
    .explore-page-content-grp{
        max-width: 1250px;
    }
}